{% load i18n %}
{% load irunner_users %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand ir-navbar-brand" href="{% url 'home' %}">{{ system_short_name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">                
                {% if user.is_staff %}
                    <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
                    <li><a href="{% url 'users:show_folder' 'root' %}">{% trans 'Users' %}</a></li>
                    <li><a href="{% url 'problems:show_folder' 'root' %}">{% trans 'Problems' %}</a></li>
                    <li><a href="{% url 'solutions:list' %}">{% trans 'Solutions' %}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Administration' %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'solutions:challenge_list' %}">{% trans 'Challenges' %}</a></li>
                            <li><a href="{% url 'solutions:rejudge_list' %}">{% trans 'Rejudges' %}</a></li>
                            <li><a href="{% url 'solutions:judgement_list' %}">{% trans 'Runs' %}</a></li>
                            <li><a href="{% url 'api:queue' %}">{% trans 'Queue' %}</a></li>
                            <li><a href="{% url 'feedback:list' %}">{% trans 'View Feedback' %}</a></li>
                            <li><a href="{% url 'proglangs:index' %}">{% trans 'Compilers' %}</a></li>
                            <li><a href="{% url 'courses:criterion_index' %}">{% trans 'Criteria' %}</a></li>
                            <li><a href="{% url 'storage:index' %}">{% trans 'File storage' %}</a></li>
                            <li><a href="{% url 'problems:tex_playground' %}">{% trans 'TeX editor' %}</a></li>
                            <li><a href="{% url 'solutions:compare' %}">{% trans 'Comparison of solutions' %}</a></li>
                            <li><a href="{% url 'hall_of_fame' %}">{% trans 'Hall of fame' %}</a></li>
                            <li><a href="{% url 'contests:index' %}">{% trans 'Contests' %}</a></li>
                            <li><a href="{% url 'news:list' %}">{% trans 'News' %}</a></li>
                            <li><a href="{% url 'activity' %}">{% trans 'Activity' %}</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% for name, url in external_links %}
                    <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> {% irunner_users_show user %}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans 'Logout' %}</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans 'Login' %}</a></li>
                {% endif %}
                <li>
                    <a title="{% now "DATE_FORMAT" %}">{% now "H:i:s" %}</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
