{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans 'Users' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default{% if active_tab == 'folders' %} active {% endif %}" href="{% url 'users:show_folder' 'root' %}" role="button">
                    {% bootstrap_icon 'folder-open' %} <span class="ir-icon-label">{% trans 'Folders' %}</span>
                </a>
                <a class="btn btn-default{% if active_tab == 'search' %} active {% endif %}" href="{% url 'users:index' %}" role="button">
                    {% bootstrap_icon 'search' %} <span class="ir-icon-label">{% trans 'Search' %}</span>
                </a>
            </div>
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="col-md-9">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
