{% extends "users/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}
{% load irunner_pagination %}
{% load irunner_users %}

{% block sidebar %}
    {% trans "Users" as root_name %}
    {% irunner_folders_tree cached_trees 'users:show_folder' folder_id root_name %}
{% endblock %}

{% block main %}
    {% trans "Users" as root_name %}
    {% irunner_folders_breadcrumbs cached_trees 'users:show_folder' folder_id root_name %}

    <div class="form-group">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% bootstrap_icon 'folder-open' %} <span class="ir-icon-label">{% trans 'Folder' %}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% irunner_folders_url 'users:create_folder' folder_id %}">
                            {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'Create' %}</span>
                        </a>
                    </li>
                    {% if can_delete_folder %}
                        <li>
                            <a href="{% irunner_folders_url 'users:delete_folder' folder_id %}">
                                {% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-default" href="{% irunner_folders_url 'users:create_user' folder_id %}">
                    {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New user' %}</span>
                </a>
            </div>

            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% bootstrap_icon 'list' %} <span class="ir-icon-label">{% trans 'Bulk operations' %}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% irunner_folders_url 'users:create_users_mass' folder_id %}">{% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'Sign-up' %}</span></a></li>
                    <li><a href="{% irunner_folders_url 'users:update_profile_mass' folder_id %}">{% bootstrap_icon 'asterisk' %} <span class="ir-icon-label">{% trans 'Update profiles' context 'noun' %}</span></a></li>
                    <li><a href="{% irunner_folders_url 'users:upload_photo_mass' folder_id %}">{% bootstrap_icon 'camera' %} <span class="ir-icon-label">{% trans 'Upload photo' %}</span></a></li>
                </ul>
            </div>

            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default dropdown-toggle ir-checkbox-driven" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                    {% bootstrap_icon 'check' %} <span class="ir-icon-label">{% trans 'Actions' %}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" id="ir_move">{% bootstrap_icon 'transfer' %} <span class="ir-icon-label">{% trans 'Move' %}</span></a></li>
                    <li><a href="#" id="ir_delete">{% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span></a></li>
                    <li><a href="#" id="ir_swap">{% bootstrap_icon 'random' %} <span class="ir-icon-label">{% trans 'Swap first and last name' %}</span></a></li>
                    <li><a href="#" id="ir_export">{% bootstrap_icon 'export' %} <span class="ir-icon-label">{% trans 'Export as JSON' %}</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    {% bootstrap_messages %}

    {% irunner_folders_subfolders cached_trees 'users:show_folder' folder_id %}

    <div class="panel panel-default">
        <div class="panel-body">
            {% if object_list %}
                {% irunner_users_list object_list pagination_context show_checkbox=True %}
            {% else %}
                <div class="ir-absence">
                    {% trans 'There are no users in the folder' %}
                </div>
            {% endif %}
        </div>
    </div>
    <script>
    $(document).ready(function () {
        irSetUpSelectAll();
        var here = '{{ request.path }}';
        $("#ir_move").click(function() { irPerformActionOnSelected('{% url "users:move" %}', here); });
        $("#ir_delete").click(function() { irPerformActionOnSelected('{% url "users:delete" %}', here); });
        $("#ir_swap").click(function() { irPerformActionOnSelected('{% url "users:swap_first_last_name" %}', here); });
        $("#ir_export").click(function() { irPerformActionOnSelected('{% url "users:export" %}'); });
    });
    </script>
{% endblock %}
