{% load bootstrap3 %}
{% load i18n %}

{% load irunner_users %}

<div class="list-group ir-list-group-danger">
    <a href="{% url 'users:profile_show' edited_user.id %}" class="list-group-item list-group-item-danger{% if active_tab == 'show' %} active{% endif %}">
        {% bootstrap_icon 'user' %}
        <span class="ir-icon-label">{% irunner_users_show edited_user %}</span>
    </a>
    <a href="{% url 'users:profile_main' edited_user.id %}" class="list-group-item{% if active_tab == 'main' %} active{% endif %}">
        {% bootstrap_icon 'tag' %}
        <span class="ir-icon-label">{% trans 'Main properties' %}</span>
    </a>
    <a href="{% url 'users:profile_update' edited_user.id %}" class="list-group-item{% if active_tab == 'update' %} active{% endif %}">
        {% bootstrap_icon 'pencil' %}
        <span class="ir-icon-label">{% trans 'Update profile' %}</span>
    </a>
    <a href="{% url 'users:profile_password' edited_user.id %}" class="list-group-item{% if active_tab == 'password' %} active{% endif %}">
        {% bootstrap_icon 'asterisk' %}
        <span class="ir-icon-label">{% trans 'Change password' %}</span>
    </a>
    <a href="{% url 'users:profile_permissions' edited_user.id %}" class="list-group-item{% if active_tab == 'permissions' %} active{% endif %}">
        {% bootstrap_icon 'lock' %}
        <span class="ir-icon-label">{% trans 'Permissions' %}</span>
    </a>
    <a href="{% url 'users:profile_photo' edited_user.id %}" class="list-group-item{% if active_tab == 'photo' %} active{% endif %}">
        {% bootstrap_icon 'camera' %}
        <span class="ir-icon-label">{% trans 'Photo' %}</span>
    </a>
</div>
