{% extends 'base.html' %}

{% block title %}{{ page_title }} &mdash; {{ edited_user.username }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'users/profile_sidebar.html' %}
    </div>
    <div class="col-md-9">
        {% block main %}
        {% endblock %}
    </div>
</div>
{% endblock %}
