{% extends 'users/profile_base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_users %}

{% block main %}
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}

        {% buttons layout='horizontal' %}
            {% irunner_users_photo profile %}
        {% endbuttons %}

        {% bootstrap_form form layout='horizontal' %}

        {% buttons layout='horizontal' %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
