{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_problems %}
{% load staticfiles %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{% trans 'New challenge' %}</h2>

        <div class="row">
            <div class="col-md-8">
                <h4>{% trans 'Input file' %}</h4>
                {% bootstrap_form input_form show_label=False %}
            </div>
            <div class="col-md-4">
                <h4>{% trans 'Settings' %}</h4>
                {% bootstrap_form challenge_form %}
            </div>
        </div>

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon 'play' %} <span class="ir-icon-label">{% trans 'Start' %}</span>
            </button>
            <a href="{% url 'problems:challenges' problem.id %}{{ navigator.query_string }}" class="btn btn-link">{% trans 'Cancel' %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
