{% extends 'problems/base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        <a href="{% url 'problems:files' problem.id %}{{ navigator.query_string }}" class="btn btn-default">{% trans 'Cancel' %}</a>
    {% endbuttons %}
</form>

{% if propagate_filename %}
    <script>
        $(function() {
            $("#id_upload").change(function (){
                var fileName = $(this).prop("files")[0].name;
                if (fileName) {
                    $("#id_filename").val(fileName);
                }
            });
        });
    </script>
{% endif %}

{% endblock %}
