{% extends "problems/list_base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}
{% load irunner_pagination %}
{% load irunner_users %}
{% load irunner_problems %}

{% block sidebar %}
    {% trans "Problems" as root_name %}

    {% irunner_folders_tree cached_trees 'problems:show_folder' folder_id root_name %}
{% endblock %}

{% block main %}
    {% trans "Problems" as root_name %}

    {% irunner_folders_breadcrumbs cached_trees 'problems:show_folder' folder_id root_name %}

    <div class="form-group">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% bootstrap_icon 'folder-open' %} <span class="ir-icon-label">{% trans 'Folder' %}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% irunner_folders_url 'problems:create_folder' folder_id %}">
                            {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'Create' %}</span>
                        </a>
                    </li>
                    {% if editable_folder %}
                        <li>
                            <a href="{% irunner_folders_url 'problems:folder_properties' folder_id %}">
                                {% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Properties' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% irunner_folders_url 'problems:delete_folder' folder_id %}">
                                {% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-default" href="{% irunner_folders_url 'problems:create_problem' folder_id %}">
                    {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New problem' %}</span>
                </a>
                <a class="btn btn-default" href="{% irunner_folders_url 'problems:import_from_polygon' folder_id %}">
                    {% bootstrap_icon 'import' %} <span class="ir-icon-label">{% trans 'Import from Polygon' %}</span>
                </a>
            </div>
        </div>
    </div>

    {% irunner_folders_subfolders cached_trees 'problems:show_folder' folder_id %}

    {% irunner_problems_list problems=object_list pagination_context=pagination_context query_string=query_string %}

    <script>
    $(document).ready(function () {
        irSetUpSelectAll();
    });
    </script>
{% endblock %}
