{% extends "problems/list_base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}

{% block sidebar %}
    {% trans "Problems" as root_name %}
    {% irunner_folders_tree cached_trees 'problems:show_folder' folder_id root_name %}
{% endblock %}

{% block main %}
    {% trans "Problems" as root_name %}
    {% irunner_folders_breadcrumbs cached_trees 'problems:show_folder' folder_id root_name %}

    {% if form_name %}
        <h3>
            {{ form_name }}
            {% if show_parent %}
                <small>
                {% if folder %}
                    {% blocktrans with nn=folder.name %}inside ‘{{ nn }}’{% endblocktrans %}
                {% else %}
                    {% trans 'in the root folder' %}
                {% endif %}
                </small>
            {% endif %}
        </h3>
    {% endif %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
            </button>
            <a href="{% irunner_folders_url 'problems:show_folder' folder_id %}" class="btn btn-link">
                {% trans 'Cancel' %}
            </a>
        {% endbuttons %}
    </form>
{% endblock %}
