{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block main %}

{% bootstrap_messages %}

<form method="post" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% bootstrap_form extra_form layout='horizontal' %}
    {% buttons layout='horizontal' %}
        <button type="submit" class="btn btn-primary">
            {% trans 'Save' %}
        </button>
    {% endbuttons %}
</form>

{% endblock %}
