{% extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_problems %}
{% load irunner_storage %}
{% load irunner_users %}

{% block main %}

{% bootstrap_messages %}

<nav>
    <ul class="pagination ir-pagination-no-margin">
        <li>
            <a href="{% url 'problems:show_test' problem_id prev_test %}{{ navigator.query_string }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li>
            <a href="{% url 'problems:tests' problem_id %}{{ navigator.query_string }}">
                {% trans 'Test' %} {{ current_test }} {% trans 'of' %} {{ total_tests }}
            </a>
        </li>
        <li>
            <a href="{% url 'problems:show_test' problem_id next_test %}{{ navigator.query_string }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <ul class="pagination ir-pagination-no-margin">
        <li>
            <a href="{% url 'problems:edit_test' problem_id current_test %}{{ navigator.query_string }}">
                {% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Edit' %}</span>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#myModal">
                {% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span>
            </a>
        </li>
    </ul>
</nav>

<table class="ir-test-info">
    <tbody>
        <tr>
            <td>{% trans 'Points' %}</td>
            <td>{{ points }}</td>
        </tr>
        <tr>
            <td>{% trans 'Time limit' %}</td>
            <td>{% irunner_problems_timelimit time_limit %}</td>
        </tr>
        <tr>
            <td>{% trans 'Memory limit' %}</td>
            <td>{% irunner_problems_memorylimit memory_limit %}</td>
        </tr>
        {% if author != None %}
            <tr>
                <td>{% trans 'Author' %}</td>
                <td>{% irunner_users_show author %}</td>
            </tr>
        {% endif %}
        {% if creation_time != None %}
            <tr>
                <td>{% trans 'Created' context 'test' %}</td>
                <td>{{ creation_time }}</td>
            </tr>
        {% endif %}
        {% if description.text %}
            <tr>
                <td>{% trans 'Description' %}</td>
                <td>{{ description.text|linebreaksbr }}</td>
            </tr>
        {% endif %}
    </tbody>
</table>

{% if description.images %}
    {% if description.images %}
        {% for filename in description.images %}
            <div class="ir-imagebox">
                <div>
                    <div>
                        {% url 'problems:test_image' problem.id current_test filename as img_url %}
                        <a href="{{ img_url }}"><img src="{{ img_url }}" alt="{{ filename }}"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}

<div class="row">
    <div class="col-md-6">
        <h4>
            <a href="{% url 'problems:test_input_open' problem.id current_test %}" title="{% trans 'Open' %}">{% bootstrap_icon 'open-file' %}</a>
            <a href="{% url 'problems:test_input_download' problem.id current_test %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a>
            {% irunner_problems_inputfile problem.input_filename %}
            <span class="ir-file-size">[{{ input_repr.size|filesizeformat }}]</span>
        </h4>
        {% irunner_storage_show input_repr %}
    </div>
    <div class="col-md-6">
        <h4>
            <a href="{% url 'problems:test_answer_open' problem.id current_test %}" title="{% trans 'Open' %}">{% bootstrap_icon 'open-file' %}</a>
            <a href="{% url 'problems:test_answer_download' problem.id current_test %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a>
            {% irunner_problems_outputfile problem.output_filename %}
            <span class="ir-file-size">[{{ answer_repr.size|filesizeformat }}]</span>
        </h4>
        {% irunner_storage_show answer_repr %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Confirm' %}</h4>
            </div>
            <div class="modal-body">
                {% trans 'Test case is going to be deleted.' %}
            </div>

            <div class="modal-footer">
                <form method="post" action="{% url 'problems:delete_test' problem.id current_test %}{{ navigator.query_string }}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
