{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load irunner_messagebox %}
{% load irunner_problems %}
{% load i18n %}

{% block main %}

{% bootstrap_messages %}

{% if validation_enabled %}
    {% if validation_general_failure_reason %}
        {% irunner_messagebox style='danger' wide=True %}
            {% trans 'An error occurred while running validator' %}: {{ validation_general_failure_reason }}.
        {% irunner_endmessagebox %}
    {% else %}
        {% if validation_status == 'GOOD' %}
            {% irunner_messagebox style='success' wide=True %}
                {% trans 'All test input files have passed the validation.' %}
            {% irunner_endmessagebox %}
        {% endif %}
        {% if validation_status == 'BAD' %}
            {% irunner_messagebox style='danger' wide=True %}
                {% trans 'Some test input files have not passed the validation.' %}
            {% irunner_endmessagebox %}
        {% endif %}
        {% if validation_status == 'UNKNOWN' %}
            {% irunner_messagebox style='warning' wide=True %}
                {% trans 'Validation is running&hellip; Refresh the page after a while to see results.' %}
            {% irunner_endmessagebox %}
        {% endif %}
    {% endif %}
{% endif %}

<div class="form-group">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
            <a href="{% url 'problems:new_test' problem.id %}{{ navigator.query_string }}" class="btn btn-default">
                {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New test case' %}</span>
            </a>
            <a href="{% url 'problems:upload_archive' problem.id %}{{ navigator.query_string }}" class="btn btn-default">
                {% bootstrap_icon 'gift' %} <span class="ir-icon-label">{% trans 'New tests from archive' %}</span>
            </a>
        </div>

        <div class="btn-group" role="group">
            <a href="{% url 'problems:browse_tests' problem.id %}{{ navigator.query_string }}" class="btn btn-default">
                {% bootstrap_icon 'globe' %} <span class="ir-icon-label">{% trans 'Browse' %}</span>
            </a>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle ir-checkbox-driven" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                {% bootstrap_icon 'check' %} <span class="ir-icon-label">{% trans 'Actions' %}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" id="ir_set_time_limit">{% trans 'Set time limit' %}</a></li>
                <li><a href="#" id="ir_set_memory_limit">{% trans 'Set memory limit' %}</a></li>
                <li><a href="#" id="ir_set_points">{% trans 'Set points' %}</a></li>
                <li><a href="#" id="ir_delete">{% trans 'Delete' %}</a></li>
            </ul>
        </div>
    </div>
</div>

{% if not validated_test_cases %}
    <div class="ir-absence">{% trans 'No tests' %}</div>
{% else %}
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectall"></th>
            <th></th>
            <th>{% trans '#' %}</th>
            <th>{% trans 'Input' %}</th>
            <th>{% trans 'Output' %}</th>
            <th>{% trans 'Points' %}</th>
            <th>{% trans 'Time limit' %}</th>
            <th>{% trans 'Memory limit' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for vtc in validated_test_cases %}
        {% with vtc.test_case as tc %}
        <tr{% if not vtc.has_default_limits %} class="warning"{% endif %}>
            <td><input type="checkbox" class="ir-checkbox" name="{{ tc.ordinal_number }}"></td>
            <td>{% if vtc.is_sample %}<span class="ir-sample-test-mark" title="{% trans 'Sample test' %}">{% bootstrap_icon 'certificate' %}</span>{% endif %}</td>
            <td><strong><a href="{% url 'problems:show_test' problem.id tc.ordinal_number %}{{ navigator.query_string }}">{% trans 'Test' %}&nbsp;{{ tc.ordinal_number }}</a></strong></td>
            <td>
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle ir-dotted">{{ tc.input_size|filesizeformat }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'problems:test_input_open' problem.id tc.ordinal_number %}" target="_blank">{% bootstrap_icon 'open-file' %} <span class="ir-icon-label">{% trans 'Open' %}</span></a></li>
                        <li><a href="{% url 'problems:test_input_download' problem.id tc.ordinal_number %}">{% bootstrap_icon 'download-alt' %} <span class="ir-icon-label">{% trans 'Download' %}</span></a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle ir-dotted">{{ tc.answer_size|filesizeformat }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'problems:test_answer_open' problem.id tc.ordinal_number %}" target="_blank">{% bootstrap_icon 'open-file' %} <span class="ir-icon-label">{% trans 'Open' %}</span></a></li>
                        <li><a href="{% url 'problems:test_answer_download' problem.id tc.ordinal_number %}">{% bootstrap_icon 'download-alt' %} <span class="ir-icon-label">{% trans 'Download' %}</span></a></li>
                    </ul>
                </div>
            </td>
            <td>{{ tc.points }}</td>
            <td>{% irunner_problems_timelimit tc.time_limit %}</td>
            <td>{% irunner_problems_memorylimit tc.memory_limit %}</td>
            <td>
                {% if vtc.is_valid == True %}
                    <span class="ir-valid-true">{% bootstrap_icon 'ok-sign' %}</span>
                {% elif vtc.is_valid == False %}
                    <span class="ir-valid-false"{% if vtc.validator_message %} data-toggle="tooltip" data-placement="left" title="{{ vtc.validator_message }}"{% endif %}>{% bootstrap_icon 'remove-sign' %}</span>
                {% else %}
                    <span class="ir-valid-unk">{% bootstrap_icon 'question-sign' %}</span>
                {% endif %}
            </td>
        </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>&#x3A3;</td>
            <td></td>
            <td></td>
            <td>{{ total_input_size|filesizeformat }}</td>
            <td>{{ total_answer_size|filesizeformat }}</td>
            <td>{{ total_points }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
{% endif %}

<script>
    jQuery(document).ready(function($) {
        irSetUpSelectAll();
        $('[data-toggle="tooltip"]').tooltip();
        $("#ir_set_time_limit").click(function(e) {
            e.preventDefault();
            irPerformActionOnSelected("{% url 'problems:tests_mass_time_limit' problem.id %}{{ navigator.query_string }}");
        });
        $("#ir_set_memory_limit").click(function(e) {
            e.preventDefault();
            irPerformActionOnSelected("{% url 'problems:tests_mass_memory_limit' problem.id %}{{ navigator.query_string }}");
        });
        $("#ir_set_points").click(function(e) {
            e.preventDefault();
            irPerformActionOnSelected("{% url 'problems:tests_mass_points' problem.id %}{{ navigator.query_string }}");
        });
        $("#ir_delete").click(function(e) {
            e.preventDefault();
            irPerformActionOnSelected("{% url 'problems:tests_mass_delete' problem.id %}{{ navigator.query_string }}");
        });
    });
</script>
{% endblock %}
