{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_storage %}
{% load irunner_sourcecode %}

{% block head %}
    {% irunner_sourcecode_css %}
{% endblock %}

{% block main %}
    <form method="post">
        {% bootstrap_form form %}
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Revalidate testset' %}</button>
        {% endbuttons %}
    </form>

    {% if source_repr %}
        {% irunner_storage_showcode source_repr compiler %}
    {% endif %}
{% endblock %}
