{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_cache %}
{% load irunner_courses %}
{% load irunner_solutions %}
{% load irunner_problems %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'bootstrap-sortable/bootstrap-sortable.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-sortable/bootstrap-sortable.js' %}"></script>
{% endblock %}

{% block subtitle %}{% trans 'Assignment of problems' %}{% endblock %}

{% block main %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            {% if current_student %}
                {% irunner_courses_user_card current_student.id user_cache %}&nbsp;&mdash;
            {% endif %}
            <a role="button" data-toggle="collapse" href="#studentList">{% trans 'Students' %}</a>
        </h4>
    </div>

    <div class="panel-collapse collapse{% if not current_student %} in{% endif %}" id="studentList">
        <div class="panel-body">
            <ul>
                {% for user_descr in student_list %}
                    {% url 'courses:course_assignment' course.id user_descr.id as assign_url %}
                    <li>{% irunner_courses_user_card user_descr.id user_cache url=assign_url %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% if data %}

<table class="table table-bordered ir-assignment">
    <tbody>
        {% for topic_repr in data.topic_reprs %}
            {% with topic_repr.topic_result.get_slot_and_penalty_results as joint_results %}
                {% for slot_result in joint_results %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ joint_results|length }}" class="ir-topic">
                                <div class="ir-topic-name">
                                    {{ topic_repr.topic_result.topic_descr.topic.name }}
                                </div>
                            </td>
                        {% endif %}

                        <td class="ir-slot-cell {% if slot_result.is_penalty %} ir-slot-penalty-cell{% endif %}" data-topic="{{ slot_result.topic_descr.topic.id }}">
                            {% irunner_courses_slotresult slot_result course.id user_id=user_id editable=True %}

                            {# List of problems for topic to choose from #}
                            <div class="collapse ir-slider" id="problems_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                                <div class="ir-fake-panel">
                                    <h4>{% trans 'Select a problem to assign' %}</h4>
                                    <div class="ir-ajax"></div>
                                    <br>
                                    <p>
                                        <button type="button" class="btn btn-default btn-sm ir-choose-button">{% trans 'Reset' %}</button>
                                        <button type="button" class="btn btn-default btn-sm ir-cancel-button">{% trans 'Cancel' %}</button>
                                    </p>
                                    {% if slot_result.is_penalty %}
                                        <form method="post" action="{% url 'courses:course_assignment_delete_penalty' course.id current_student.id slot_result.assignment.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                {% trans 'Remove extra problem' %}
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#penalty">
                {% trans 'Extra problems' %}
            </a>
        </h4>
    </div>

    <div class="panel-collapse collapse" id="penalty">
        <div class="panel-body">
            <form method="post" action="{% url 'courses:course_assignment_new_penalty' course.id current_student.id %}" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap_form extra_form layout='horizontal' %}
                {% buttons layout='horizontal' %}
                    <button type="submit" class="btn btn-default">
                        {% trans 'Add' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% if common_problem_results %}
    <table class="table table-bordered ir-assignment">
        <tbody>
            {% for problem_result in common_problem_results %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ common_problem_results|length }}" class="ir-topic">
                            <div class="ir-topic-name">
                                {% trans 'Common problems' %}
                            </div>
                        </td>
                    {% endif %}
                    <td>
                        {% irunner_courses_problemresult problem_result course.id user_id=user_id %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<script>
    function makeSlotParams(slotResultDiv) {
        var params = {
            "csrfmiddlewaretoken": "{{ csrf_token }}"
        };
        $.each(slotResultDiv.data(), function(i, e) {
            params[i] = e;
        });
        return params;
    }

    function assignProblem(event) {
        if (event) {
            event.preventDefault();
        }

        var div = $(this).parents(".ir-slot-cell").first().find(".ir-slot-result").first();
        var params = makeSlotParams(div);
        var problemId = $(this).data("problem");
        if (problemId) {
            params["problem"] = problemId;
        }
        $.post("api/problem/", params).done(function(response) {
            div.html(response);
        });

        var divWithProblems = $(this).parents(".ir-slider");
        hideListOfProblems(divWithProblems);
    }

    function toggleCriterion() {
        var criterionDiv = $(this);
        var div = criterionDiv.parents(".ir-slot-cell").first().find(".ir-slot-result").first();
        var params = makeSlotParams(div);
        params["criterion"] = criterionDiv.data("criterion");

        var state;
        if (criterionDiv.hasClass("ir-criterion-no")) {
            state = false;
        }
        if (criterionDiv.hasClass("ir-criterion-yes")) {
            state = true;
        }

        if (state === false || state === true) {
            criterionDiv.removeClass("ir-criterion-no");
            criterionDiv.removeClass("ir-criterion-yes");
            params["ok"] = state ? 0 : 1;

            $.post("api/criterion/", params).done(function(response) {
                var ok = Boolean(response.ok);
                if (ok === false) {
                    criterionDiv.addClass("ir-criterion-no");
                }
                if (ok === true) {
                    criterionDiv.addClass("ir-criterion-yes");
                }
            });
        }
    }

    function hideListOfProblems(frame) {
        frame.parents(".ir-slot-cell").find(".ir-assign-button").removeClass("active");
        frame.hide();
    }

    $(document).ready(function() {
        $(".ir-cancel-button").click(function() {
            var divWithProblems = $(this).parents(".ir-slider");
            hideListOfProblems(divWithProblems);
        });
        $(document).on("click", ".ir-assign-button", function() {
            var frame = $(this).parents("td").first().find(".ir-slider");
            if (frame.is(":visible")) {
                hideListOfProblems(frame);
            } else {
                $(this).addClass("active");
                frame.find(".ir-ajax").empty();
                var topicId = $(this).parents(".ir-slot-cell").data("topic");
                $.get("api/topic-problems/" + topicId + "/").done(function(response) {
                    frame.find(".ir-ajax").html(response);
                    $.bootstrapSortable(true);
                    frame.find(".ir-choose-button").click(assignProblem);
                    frame.show();
                });
            }
        });

        $(document).on("click", ".ir-criterion-editable", toggleCriterion);
    });
</script>

{% endif %}

{% endblock %}
