{% extends 'base.html' %}

{% block title %}{% block subtitle %}{% endblock %} &mdash; {{ course }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'courses/sidebar.html' %}

        {% block extrasidebar %}
        {% endblock %}
    </div>
    <div class="col-md-9">
        {% block main %}
        {% endblock %}
    </div>
</div>
{% endblock %}
