{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <div class="pull-right">
        <a href="{% url 'courses:new' %}" class="btn btn-default">
            {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New course' %}</span>
        </a>
    </div>

    <h1>{% block title %}{% trans 'Courses' %}{% endblock %}</h1>
    {% if pairs %}
        <div class="row">
        {% for year, courses in pairs %}
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if year != None %}{{ year }}{% else %}&nbsp;{% endif %}
                    </div>
                    <table class="ir-course-list">
                        <thead>
                            <tr>
                                <th></th>
                                <th><span title="{% trans 'Students' %}">{% bootstrap_icon 'user' %}</span></th>
                                <th><span title="{% trans 'Solutions' %}">{% bootstrap_icon 'tasks' %}</span></th>
                                <th colspan="2"><span title="{% trans 'Messages' %}">{% bootstrap_icon 'envelope' %}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in courses %}
                            <tr>
                                <td><a href="{% url 'courses:show_course_info' item.id %}">{% if item.my %}<strong>{% endif %}{{ item.name }}{% if item.my %}</strong>{% endif %}</a></td>
                                <td>{{ item.student_count }}</td>
                                <td>{{ item.solution_count }}</td>
                                <td>{% if item.unread_count %}<span class="badge">{{ item.unread_count }}</span>{% endif %}</td>
                                <td>{% if item.unresolved_count %}<span class="badge ir-badge-unresolved">{{ item.unresolved_count }}</span>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="ir-absence">{% trans 'There are no courses available.' %}</div>
    {% endif %}
{% endblock %}
