{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load irunner_courses %}
{% load irunner_problems %}
{% load irunner_stats %}

{% block title %}{{ course }}{% endblock %}

{% block head %}
    <script src="{% static 'flot-0.8.3/jquery.flot.min.js' %}"></script>
    <script src="{% static 'flot-0.8.3/jquery.flot.time.min.js' %}"></script>
    <script src="{% static 'flot-0.8.3/jquery.flot.resize.min.js' %}"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static 'flot-0.8.3/excanvas.min.js' %}"></script><![endif]-->
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Number of submitted solutions' %}</div>
                <div class="panel-body">
                    {% if show_activity_plot %}
                        <div class="ir-activity-plot"></div>
                    {% else %}
                        <div class="ir-absence">{% trans 'No solutions' %}</div>
                    {% endif %}
                </div>
            </div>

            {% if language_bars %}
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans 'Programming language popularity' %}</div>
                    <div class="panel-body">
                        {% irunner_stats_proglangbars language_bars %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Latest accepted solutions' %}</div>
                <div class="panel-body">
                    {% if latest_accepted_solutions %}
                        {% for solution in latest_accepted_solutions %}
                            <div class="ir-latest-solver">
                                {% bootstrap_icon 'time' %} <span class="ir-icon-label">{{ solution.reception_time|timesince }} {% trans 'ago' %}</span>
                                <br>
                                {% bootstrap_icon 'user' %} <span class="ir-icon-label">{% if permissions.assign %}{% url 'courses:course_assignment' course.id solution.author_id as assign_url %}{% irunner_courses_user_card solution.author_id user_cache url=assign_url %}{% else %}{% irunner_courses_user_card solution.author_id user_cache %}{% endif %}</span>
                                <br>
                                {% bootstrap_icon 'file' %}
                                {% irunner_problems_difficulty solution.problem.difficulty %}
                                <a href="{% url 'courses:course_problems_problem' course.id solution.problem_id %}">{{ solution.problem.numbered_full_name }}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="ir-absence">{% trans 'No solutions' %}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var allSolutionSeries = {
                color: "#337ab7",
                label: "{% trans 'all' %}",
                data: {{ all_solution_json|safe }}
            };
            var acceptedSolutionSeries = {
                color: "#5cb85c",
                label: "{% trans 'accepted' %}",
                data: {{ accepted_solution_json|safe }}
            };

            var data = [allSolutionSeries, acceptedSolutionSeries];
            var options = {
                series: {
                    lines: { show: true },
                    points: { show: true, radius: 1, fill: true }
                },
                xaxis: {
                    mode: "time",
                    timeformat: "%d %b"
                },
                yaxis: {
                    tickDecimals: 0,
                    min: 0,
                },
                legend: { position: "nw" }
            };
            var div = $(".ir-activity-plot").first();
            if (div.length) {
                $.plot(div, data, options);
            }
        });
    </script>
{% endblock %}
