{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_courses %}
{% load irunner_problems %}

{% block subtitle %}{% trans 'Messages' %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
                <a href="{% url 'courses:messages_new' course.id %}" class="list-group-item">
                    {% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Compose' %}</span>
                </a>
            </div>

            <div class="list-group">
                {% for t in threads %}
                    <a href="{% url 'courses:messages' course.id t.id %}" class="list-group-item ir-mail-thread{% if thread.id == t.id %} active{% elif permissions.messages_resolve and not t.resolved %} ir-mail-thread-unresolved{% endif %}">
                        <span class="ir-mail-thread-date">{{ t.last_message_timestamp|date:"SHORT_DATE_FORMAT" }}</span>
                        <div class="ir-mail-thread-subject{% if t.unread and thread.id != t.id %} ir-mail-thread-subject-unread{% endif %}">
                            {% if t.subject %}{{ t.subject }}{% else %}[{% trans 'No subject' %}]{% endif %}
                        </div>
                        {% if t.person_id != None %}
                            {% if t.person_id != request.user.id %}
                                <div class="ir-mail-thread-author">
                                    {% bootstrap_icon 'user' %} {% irunner_courses_showuser t.person_id user_cache %}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="ir-mail-thread-author">
                                {% bootstrap_icon 'globe' %} <em>{% trans 'Public conversation' %}</em>
                            </div>
                        {% endif %}
                        {% if t.problem %}
                            <div class="ir-mail-thread-problem">{% bootstrap_icon 'file' %} {{ t.problem.numbered_full_name }}</div>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-8">
            {% if messages %}
                    <div class="ir-mail-message ir-mail-message-first">
                        {% if thread.subject %}
                            <div class="ir-subject">{{ thread.subject }}</div>
                        {% endif %}
                        <div>
                            {% if thread.person_id != None %}
                                {% bootstrap_icon 'user' %}
                                {% if permissions.assign %}
                                    {% url 'courses:course_assignment' course.id thread.person_id as assign_url %}
                                    {% irunner_courses_user_card thread.person_id user_cache url=assign_url %}
                                {% else %}
                                    {% irunner_courses_user_card thread.person_id user_cache %}
                                {% endif %}
                            {% else %}
                                {% bootstrap_icon 'globe' %} <em>{% trans 'Public conversation' %}</em>
                            {% endif %}
                        </div>

                        {% if thread.problem %}
                            <div>
                                {% bootstrap_icon 'file' %}
                                {% irunner_problems_difficulty thread.problem.difficulty %}
                                <a href="{% url 'courses:course_problems_problem' course.id thread.problem.id %}">{{ thread.problem.numbered_full_name }}</a>
                            </div>
                        {% endif %}
                        {% if permissions.messages_resolve %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="ir_resolved"{% if thread.resolved %} checked{% endif %}> {% trans 'Consider the issue resolved' %}
                                </label>
                            </div>
                        {% endif %}
                    </div>
                {% for message in messages %}
                    <div class="ir-mail-message{% if message.unread %} ir-mail-message-unread{% endif %}">
                        <div class="ir-mail-message-heading">
                            <span class="ir-mail-message-author">{% bootstrap_icon 'share-alt' %} {% irunner_courses_user_card message.author_id user_cache %}</span>
                            <span class="ir-mail-message-date">{{ message.timestamp }}</span>
                        </div>
                        <div class="ir-mail-message-body">{{ message.body|urlize|linebreaksbr }}</div>
                        {% if message.attachment %}
                            <div class="ir-mail-message-attachment">
                                {% bootstrap_icon 'paperclip' %}
                                <span class="ir-icon-label">
                                    {% trans 'Attachment' %}:
                                    <a href="{% url 'courses:messages_download' course.id thread.id message.id message.attachment.filename %}">{{ message.attachment.filename }}</a> ({{ message.attachment.size|filesizeformat }})
                                </span>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if message_form %}
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            {% bootstrap_icon 'share-alt' %} <a role="button" data-toggle="collapse" href="#replyForm">{% trans 'Reply to thread' %}</a>
                        </h4>
                    </div>

                    <div id="replyForm" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form message_form show_label=False %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                        {% trans 'Reply' %}
                                    </button>
                                    {% if can_delete %}
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                            {% trans 'Delete thread' %}
                                        </button>
                                    {% endif %}
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>

    {% if can_delete %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Delete thread' %}</h4>
                </div>
                <div class="modal-body">
                    {% trans 'Conversation will be deleted' %} ({% blocktrans count counter=messages|length %}{{ counter }} message{% plural %}{{ counter }} messages{% endblocktrans %}).
                </div>

                <div class="modal-footer">
                    <form method="post" action="{% url 'courses:messages_thread_delete' course.id thread.id %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if permissions.messages_resolve and thread %}
    <script>
        $(document).ready(function() {
            $("#ir_resolved").change(function(e) {
                e.preventDefault();
                var checked = $(this).is(":checked");
                $.post("{% url 'courses:messages_thread_resolve' course.id thread.id %}", {
                    resolved: (checked ? "on" : ""),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                });
            });
        });
    </script>
    {% endif %}
{% endblock %}
