{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_courses %}
{% load irunner_solutions %}
{% load irunner_problems %}

{% block subtitle %}{% trans 'My problems' %}{% endblock %}

{% block main %}

<table class="ir-assignment">
    <tbody>
        {% for topic_result in user_result.topic_results %}
            {% with topic_result.get_slot_and_penalty_results as joint_results %}
                {% for slot_result in joint_results %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ joint_results|length }}" class="ir-topic">
                                <div class="ir-topic-name">
                                    {{ topic_result.topic_descr.topic.name }}
                                </div>
                            </td>
                        {% endif %}

                        <td class="ir-slot-cell{% if slot_result.is_penalty %} ir-slot-penalty-cell{% endif %}">
                            {% irunner_courses_slotresult slot_result course.id editable=False %}
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>

{% if user_result.common_problem_results %}
    <table class="ir-assignment">
        <tbody>
            {% for problem_result in user_result.common_problem_results %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ user_result.common_problem_results|length }}" class="ir-topic">
                            <div class="ir-topic-name">
                                {% trans 'Common problems' %}
                            </div>
                        </td>
                    {% endif %}
                    <td class="ir-slot-cell">
                        {% irunner_courses_problemresult problem_result course.id %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
