{% extends 'courses/base.html' %}

{% load i18n %}

{% block subtitle %}{% trans 'Course problems' %}{% endblock %}

{% block main %}
<div>
    {% if navigate_topics %}
    <div class="ir-float-parent">
        <ul class="nav nav-pills ir-inline-block ir-condensed-pills">
            {% for topic in topics %}
            <li role="presentation"{% if active_topic == topic %} class="active"{% endif %}>
                <a href="{% url 'courses:course_problems_topic' course.id topic.id %}">{{ topic.name }}</a>
            </li>
            {% endfor %}
        </ul>

        {% if prev_next %}
        <ul class="pagination navbar-right ir-pagination-no-margin">
            <li>
                <a href="{% url 'courses:course_problems_topic_problem' course.id active_topic.id prev_problem_id %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="{% url 'courses:course_problems_topic' course.id active_topic.id %}">
                    {{ cur_position }} {% trans 'of' %} {{ total_positions }}
                </a>
            </li>
            <li>
                <a href="{% url 'courses:course_problems_topic_problem' course.id active_topic.id next_problem_id %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="ir-pill-content">
    {% endif %}
        {% block submain %}
            {% trans 'Select a topic to view problems.' %}
        {% endblock %}
    {% if navigate_topics %}
    </div>
    {% endif %}
</div>
{% endblock %}
