{% extends 'courses/settings_base.html' %}

{% load i18n %}
{% load irunner_users %}
{% load bootstrap3 %}

{% block submain %}
    {% bootstrap_messages %}

    <form class="form-inline" method="post">
        {% csrf_token %}

        {% for view_model in view_models %}
            {# view_model is RoleUsersViewModel #}
            <div class="pull-right">
                <a href="{% url view_model.url_pattern course.id %}" class="btn btn-sm btn-default">
                    {% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Edit the list' %}</span>
                </a>
            </div>

            <h3>{{ view_model.name_plural }}</h3>
            {{ view_model.formset.management_form }}
            {% if view_model.pairs %}
                <table class="table table-hover ir-table-more-condensed">
                    <thead>
                        <tr>
                            <th>{% trans '#' %}</th>
                            <th>{{ view_model.name_singular }}</th>
                            <th>{% trans 'Subgroup' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pair in view_model.pairs %}
                            <tr>
                                <td>{{ forloop.counter }}.</td>
                                <td>{% irunner_users_show pair.user %}</td>
                                <td class="ir-choose-subgroup">{% bootstrap_form pair.form layout='inline' %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% trans 'No users are set.' %}<p>
            {% endif %}
        {% endfor %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
