{% extends 'courses/settings_base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block submain %}

<form method="post" autocomplete="off" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons layout='horizontal' %}
        <button type="submit" class="btn btn-primary">
            {% trans 'Save' %}
        </button>
        {% if can_delete %}
            <a href="{% url 'courses:course_settings_delete' course.id %}" class="btn btn-link">
                {% trans 'Delete the course' %}
            </a>
        {% endif %}
    {% endbuttons %}
</form>

{% endblock %}
