{% extends 'courses/settings_base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block submain %}

<form method="post" autocomplete="off">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" name="save" class="btn btn-primary">
            <span class="ir-icon-label">{% trans 'Save' %}</span>
        </button>
        {% if can_delete %}
            <button type="submit" name="delete" class="btn btn-danger">
                <span class="ir-icon-label">{% trans 'Delete' %}</span>
            </button>
        {% endif %}
        <a href="{{ cancel_url }}" role="button" class="btn btn-link">
            <span class="ir-icon-label">{% trans 'Cancel' %}</span>
        </a>
    {% endbuttons %}
</form>

{% endblock %}
