{% extends 'courses/settings_base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block submain %}
    {% if role == 'students' %}
        <h3>{% trans 'Edit students list' %}</h3>
    {% elif role == 'teachers' %}
        <h3>{% trans 'Edit teachers list' %}</h3>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
            </button>
            <a href="{% url 'courses:course_settings_users' course.id %}" role="button" class="btn btn-link">
                {% trans 'Cancel' %}
            </a>
        {% endbuttons %}
    </form>
{% endblock %}
