{% extends 'courses/base.html' %}

{% load i18n %}

{% block subtitle %}{% trans 'Settings' %}{% endblock %}

{% block main %}

<div>
    <ul class="nav nav-tabs">
        <li role="presentation"{% if active_subtab == 'properties' %} class="active"{% endif %}>
            <a href="{% url 'courses:course_settings_properties' course.id %}">{% trans 'Properties' %}</a>
        </li>
        <li role="presentation"{% if active_subtab == 'access' %} class="active"{% endif %}>
            <a href="{% url 'courses:course_settings_access' course.id %}">{% trans 'Access' %}</a>
        </li>
        <li role="presentation"{% if active_subtab == 'problems' %} class="active"{% endif %}>
            <a href="{% url 'courses:course_settings_problems' course.id %}">{% trans 'Problems' %}</a>
        </li>
        <li role="presentation"{% if active_subtab == 'compilers' %} class="active"{% endif %}>
            <a href="{% url 'courses:course_settings_compilers' course.id %}">{% trans 'Compilers' %}</a>
        </li>
        <li role="presentation"{% if active_subtab == 'subgroups' %} class="active"{% endif %}>
            <a href="{% url 'courses:course_settings_subgroups' course.id %}">{% trans 'Subgroups' %}</a>
        </li>
        <li role="presentation"{% if active_subtab == 'users' %} class="active"{% endif %}>
            <a href="{% url 'courses:course_settings_users' course.id %}">{% trans 'Users' %}</a>
        </li>
        <li role="presentation"{% if active_subtab == 'sheet' %} class="active"{% endif %}>
            <a href="{% url 'courses:course_settings_sheet' course.id %}">{% trans 'Sheet' %}</a>
        </li>
    </ul>

    <div class="tab-content ir-tab-content">
        {% block submain %}
        {% endblock %}
    </div>
</div>
{% endblock %}
