{% load bootstrap3 %}
{% load i18n %}

<div class="list-group">
    {% if permissions.info %}
        <a href="{% url 'courses:show_course_info' course.id %}" class="list-group-item list-group-item-info{% if active_tab == 'info' %} active{% endif %}">
            {% bootstrap_icon 'info-sign' %}
            <span class="ir-icon-label">{{ course }}</span>
        </a>
    {% endif %}

    {% if permissions.problems %}
        <a href="{% url 'courses:course_problems' course.id %}" class="list-group-item{% if active_tab == 'problems' %} active{% endif %}">
            {% bootstrap_icon 'th' %}
            <span class="ir-icon-label">{% trans 'Course problems' %}</span>
        </a>
    {% endif %}

    {% if permissions.my_problems %}
        <a href="{% url 'courses:my_problems' course.id %}" class="list-group-item{% if active_tab == 'my_problems' %} active{% endif %}">
            {% bootstrap_icon 'th-large' %}
            <span class="ir-icon-label">{% trans 'My problems' %}</span>
        </a>
    {% endif %}

    {% if permissions.messages %}
        <a href="{% url 'courses:messages_empty' course.id %}" class="list-group-item{% if active_tab == 'messages' %} active{% endif %}">
            {% bootstrap_icon 'envelope' %}
            <span class="ir-icon-label">{% trans 'Messages' %}</span>
            {% if unread %}<span class="badge">{{ unread }}</span>{% endif %}
        </a>
    {% endif %}

    {% if permissions.assign %}
        <a href="{% url 'courses:course_assignment_empty' course.id %}" class="list-group-item{% if active_tab == 'assign' %} active{% endif %}">
            {% bootstrap_icon 'link' %}
            <span class="ir-icon-label">{% trans 'Assignment of problems' %}</span>
        </a>
    {% endif %}

    {% if permissions.standings %}
        <a href="{% url 'courses:course_standings' course.id %}" class="list-group-item{% if active_tab == 'standings' %} active{% endif %}">
            {% bootstrap_icon 'book' %}
            <span class="ir-icon-label">{% trans 'Standings' context 'course' %}</span>
        </a>
    {% endif %}

    {% if permissions.sheet %}
        <a href="{% url 'courses:course_sheet' course.id %}" class="list-group-item{% if active_tab == 'sheet' %} active{% endif %}">
            {% bootstrap_icon 'list-alt' %}
            <span class="ir-icon-label">{% trans 'Sheet' %}</span>
        </a>
    {% endif %}

    {% if permissions.all_solutions %}
        <a href="{% url 'courses:all_solutions' course.id %}" class="list-group-item{% if active_tab == 'all_solutions' %} active{% endif %}">
            {% bootstrap_icon 'tasks' %}
            <span class="ir-icon-label">{% trans 'All solutions' %}</span>
        </a>
    {% endif %}

    {% if permissions.my_solutions %}
        <a href="{% url 'courses:my_solutions' course.id %}" class="list-group-item{% if active_tab == 'my_solutions' %} active{% endif %}">
            {% bootstrap_icon 'tasks' %}
            <span class="ir-icon-label">{% trans 'My solutions' %}</span>
        </a>
    {% endif %}

    {% if permissions.submit %}
        <a href="{% url 'courses:course_submit' course.id %}" class="list-group-item{% if active_tab == 'submit' %} active{% endif %}">
            {% bootstrap_icon 'send' %}
            <span class="ir-icon-label">{% trans 'Submit solution' %}</span>
        </a>
    {% endif %}

    {% if permissions.info %}
        <a href="{% url 'courses:course_compilers' course.id %}" class="list-group-item{% if active_tab == 'compilers' %} active{% endif %}">
            {% bootstrap_icon 'pushpin' %}
            <span class="ir-icon-label">{% trans 'Compilers' %}</span>
        </a>
    {% endif %}

    {% if permissions.settings %}
        <a href="{% url 'courses:course_settings_properties' course.id %}" class="list-group-item{% if active_tab == 'settings' %} active{% endif %}">
            {% bootstrap_icon 'cog' %}
            <span class="ir-icon-label">{% trans 'Settings' %}</span>
        </a>
    {% endif %}
</div>
