{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load irunner_problems %}
{% load irunner_courses %}
{% load irunner_solutions %}
{% load i18n %}

{% block subtitle %}{% trans 'Standings' context 'course' %}{% endblock %}

{% block extrasidebar %}
<div class="list-group">
    <a href="{% url 'courses:course_standings_wide' course.id %}" class="list-group-item" target="_blank">
        {% bootstrap_icon 'resize-horizontal' %} <span class="ir-icon-label">{% trans 'Widescreen version' %}</span>
    </a>
</div>
{% endblock %}

{% block main %}
{% if course_descr.topic_descrs %}
<h4>{% trans 'Individual problems' %}</h4>
<table class="table ir-table-more-condensed table-striped ir-course-standings">
    <thead>
        <tr>
            <th class="ir-seq-no">{% trans '#' %}</th>
            <th>{% trans 'Student' %}</th>
            {% for topic_descr in course_descr.topic_descrs %}
                {% with topic_descr.get_slot_count as width %}
                    <th {% if width > 1 %}colspan="{{ width }}"{% endif %}>
                        <a href="{% url 'courses:course_problems_topic' course.id topic_descr.topic.id %}">{{ topic_descr.topic.name }}</a>
                    </th>
                {% endwith %}
            {% endfor %}
            <th>{% trans 'Problems' %}</th>
            <th>{% trans 'Result' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user_result in results %}
        <tr{% if user_result.user == user %} class="ir-me"{% endif %}>
            <td class="ir-seq-no ir-subgroup-{{ user_result.get_subgroup_class_suffix }}">
                {{ forloop.counter }}
            </td>

            <td class="text-nowrap">
                {% if permissions.assign %}
                    {% url 'courses:course_assignment' course.id user_result.user.id as assign_url %}
                    {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True url=assign_url %}
                {% else %}
                    {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True %}
                {% endif %}
            </td>

            {% for topic_result in user_result.topic_results %}
                {% for slot_result in topic_result.slot_results %}
                    <td class="text-nowrap ir-slot">
                        {% spaceless %}
                        {% if slot_result.should_show_in_standings %}
                            {% with slot_result.assignment.problem as problem %}
                                <span title="{% trans 'Problem' %} {{ problem.numbered_full_name }}">
                                    {% irunner_problems_difficulty problem.difficulty %}
                                </span>
                                <span class="ir-stripe">
                                    {% for criterion_descr in slot_result.criterion_descrs %}
                                        {% irunner_courses_criterion criterion_descr.criterion criterion_descr.ok %}
                                    {% endfor %}
                                    {% with slot_result.problem_result as pr %}
                                        {% if pr and pr.was_submitted %}
                                            {% irunner_solutions_scorebox pr.best_solution.best_judgement hide_score_if_accepted=True %}
                                        {% else %}
                                            {% irunner_solutions_scorebox %}
                                        {% endif %}
                                    {% endwith %}
                                </span>
                            {% endwith %}
                        {% endif %}
                        {% endspaceless %}
                    </td>
                {% endfor %}
            {% endfor %}
            <td class="ir-problem-summary text-nowrap">
                {{ user_result.get_complete_main_problem_count }}
                {% if user_result.get_total_extra_problem_count %}
                    <span title="{% trans 'Extra problems' %}">
                        ({{ user_result.get_complete_extra_problem_count }}&thinsp;/&thinsp;{{ user_result.get_total_extra_problem_count }})
                    </span>
                {% endif %}
            </td>
            <td class="ir-problem-summary text-nowrap">
                <strong>{{ user_result.get_problem_solving_mark }}</strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if course_descr.topic_descrs and course_descr.common_problems %}
    <hr>
{% endif %}

{% if course_descr.common_problems %}
    <h4>{% trans 'Common problems' %}</h4>
    <table class="ir-table-more-condensed table-striped ir-course-standings">
        <thead>
            <tr>
                <th class="ir-seq-no">{% trans '#' %}</th>
                <th>{% trans 'Student' %}</th>
                {% for problem in course_descr.common_problems %}
                    <th>
                        <a href="{% url 'courses:course_problems_problem' course.id problem.id %}">{{ problem.numbered_short_name }}</a>
                    </th>
                {% endfor %}
                <th>{% trans 'Problems' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for user_result in results %}
            <tr{% if user_result.user == user %} class="ir-me"{% endif %}>
                <td class="ir-seq-no ir-subgroup-{{ user_result.get_subgroup_class_suffix }}">
                    {{ forloop.counter }}
                </td>
                <td class="text-nowrap">
                    {% if permissions.assign %}
                        {% url 'courses:course_assignment' course.id user_result.user.id as assign_url %}
                        {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True url=assign_url %}
                    {% else %}
                        {% irunner_courses_user_card user_result.user.id user_cache last_name_first=True %}
                    {% endif %}
                </td>
                {% for pr in user_result.common_problem_results %}
                    <td class="text-nowrap ir-slot">
                        {% spaceless %}
                            <span class="ir-stripe">
                                {% if pr and pr.was_submitted %}
                                    {% irunner_solutions_scorebox pr.best_solution.best_judgement hide_score_if_accepted=True %}
                                {% else %}
                                    {% irunner_solutions_scorebox %}
                                {% endif %}
                            </span>
                        {% endspaceless %}
                    </td>
                {% endfor %}
                <td class="ir-problem-summary text-nowrap">
                    {{ user_result.get_complete_common_problem_count }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
