{% extends 'contests/base.html' %}

{% load i18n %}
{% load irunner_contests %}
{% load irunner_proglangs %}
{% load irunner_solutions %}
{% load irunner_pagination %}
{% load irunner_users %}
{% load bootstrap3 %}

{% block subtitle %}{% trans 'All solutions' %}{% endblock %}

{% block main %}
    <form method="get" class="form-inline">
        <div class="ir-solution-filter">
            <div class="pull-right">
                {{ problem_form.problem }}
                {{ user_form.user }}
                <button type="submit" class="btn btn-default">
                    {% trans 'Apply' %}
                </button>
            </div>
        </div>
    </form>

    {% if object_list %}
        {% irunner_pagination pagination_context %}
        <form method="post">
        {% csrf_token %}
        <table class="table table-condensed table-striped ir-compact-table">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectall"></th>
                    <th>{% trans 'Problem' %}</th>
                    <th>{% trans 'Author' %}</th>
                    <th>{% trans 'Time' %}</th>
                    <th>{% trans 'File' %}</th>
                    <th>{% trans 'Status' %}</th>
                    {% if show_scores %}
                        <th>{% trans 'Score' %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for solution in object_list %}
                <tr{% if solution.is_disqualified %} class="warning"{% endif %}>
                    <td><input type="checkbox" class="ir-checkbox" name="id" value="{{ solution.id }}" style="margin: 0"></td>
                    <td>
                        <a href="{% url 'contests:problem' contest.id solution.problem_id %}">{% irunner_contests_showproblem resolver solution.problem_id %}</a>
                    </td>
                    <td>{% irunner_users_show solution.author %}</td>
                    <td>{{ solution.reception_time }}</td>
                    <td>
                        {% irunner_proglangs_compilerbox solution.compiler tooltip=True %}
                        <a href="{% url 'solutions:source' solution.id %}" class="ir-monospace">{{ solution.source_code.filename }}</a>
                        <span class="ir-file-size">({{ solution.source_code.size|filesizeformat }})</span>
                    </td>
                    <td>
                        <a href="{% url 'solutions:main' solution.id %}">{% irunner_solutions_judgementbox solution.best_judgement tooltip=True %}</a>
                    </td>
                    {% if show_scores %}
                        <td>{% irunner_solutions_scorebox solution.best_judgement %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% buttons %}
            <div class="btn-group">
                <button type="submit" name="disqualify" class="btn btn-sm btn-default ir-checkbox-driven">
                    {% bootstrap_icon 'thumbs-down' %} <span class="ir-icon-label">{% trans 'Disqualify' %}</span>
                </button>
                <button type="submit" name="qualify" class="btn btn-sm btn-default ir-checkbox-driven">
                    {% bootstrap_icon 'thumbs-up' %} <span class="ir-icon-label">{% trans 'Cancel the disqualification' %}</span>
                </button>
            </div>
        {% endbuttons %}
        </form>

        <script>
            $(document).ready(irSetUpSelectAll);
        </script>
    {% else %}
        <div class="ir-absence">
            {% trans 'No solutions' %}
        </div>
    {% endif %}
{% endblock %}
