{% extends 'contests/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_problems %}
{% load irunner_solutions %}
{% load irunner_contests %}

{% block subtitle %}{% trans 'Standings' context 'contest' %}{% endblock %}

{% block extrasidebar %}
    {% include 'contests/standings_extra_controls.html' %}
{% endblock %}

{% block main %}
    {% irunner_contests_timing timing %}

    {% if results %}
        {% irunner_contests_standings results my_id=my_id user_url=user_url %}
    {% else %}
        <div class="ir-absence">{{ no_standings_yet_message }}</div>
    {% endif %}
{% endblock %}

{% block foot %}
    {% if autorefresh %}
        <script>
            function poll() {
                $.get("{% url 'contests:standings_raw' contest.id %}{% if cur_filter_id != None %}?filter={{ cur_filter_id }}{% endif %}", function(data) {
                    $("#ir_container").html(data);
                    setTimeout(poll, 30000);
                }).fail(function() {
                    setTimeout(poll, 60000);
                });
            }
            $(document).ready(function() {
                poll();
            });
        </script>
    {% endif %}
{% endblock %}
