{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_contests %}

{% block title %}{% trans 'Standings' context 'contest' %} ({% trans 'widescreen' %}) &mdash; {{ contest }}{% endblock %}

{% block allbody %}
<div class="container-fluid">
    <h2 class="text-center">{{ contest }}</h2>

    {% irunner_contests_timing timing %}

    {% if results %}
        {% irunner_contests_standings results my_id=my_id %}
    {% else %}
        <div class="ir-absence">{{ no_standings_yet_message }}</div>
    {% endif %}
</div>
{% endblock %}

{% block foot %}
    {% if autorefresh %}
        <script>
            $(document).ready(function() {
                setTimeout(function() { location.reload(); }, 30000);
            });
        </script>
    {% endif %}
{% endblock %}
