{% load i18n %}
{% load irunner_contests %}

<div class="row">
    <div class="col-md-3">
        {% include 'contests/sidebar.html' %}
        {% include 'contests/standings_extra_controls.html' %}
    </div>
    <div class="col-md-9">
        {% irunner_contests_timing timing %}

        {% if results %}
            {% irunner_contests_standings results my_id=my_id user_url=user_url %}
        {% else %}
            <div class="ir-absence">{% trans 'The scoreboard will be available after the start of the contest' %}</div>
        {% endif %}
    </div>
</div>
