{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_messagebox %}
{% load staticfiles %}

{% block title %}{% trans 'Main' context 'main page' %}{% endblock %}

{% block content %}
<div class="jumbotron ir-jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-nowrap">{{ system_short_name }}</h1>
            <p>{% trans 'Automatic testing system' %}</p>
        </div>
        <div class="col-md-6 text-right">
            {% get_current_language as lng %}
            {% if lng == 'ru' %}
                <img class="img-responsive" src="{% static 'logo_ru.png' %}" width="376" height="96">
            {% elif lng == 'en' %}
                <img class="img-responsive" src="{% static 'logo_en.png' %}" width="232" height="97">
            {% endif %}
        </div>
    </div>
</div>

{% if user.is_authenticated and user.userprofile and user.userprofile.needs_change_password and not disable_change_password_warning %}
    {% irunner_messagebox 'warning' wide=True %}
        <p class="text-center">
            {% trans 'Please set up a new password instead of default one.' %} <a href="{% url 'password_change' %}">{% trans 'Change password' %}.</a>
        </p>
    {% irunner_endmessagebox %}
{% endif %}

<div class="row">
{% if courses_with_unread or my_contests %}
    <div class="col-sm-4">
        {% if courses_with_unread %}
            <h2>{% bootstrap_icon 'education' %} <span class="ir-icon-label">{% trans 'My courses' %}</span></h2>
            <ul>
            {% for course, unread in courses_with_unread %}
                <li>
                    <a href="{% url 'courses:show_course_info' course.id %}">{{ course }}</a>
                    {% if unread %}
                        <span class="badge">{{ unread }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if my_contests %}
            <h2>{% bootstrap_icon 'stats' %} <span class="ir-icon-label">{% trans 'My contests' %}</span></h2>
            <ul>
            {% for contest in my_contests %}
                <li>
                    <a href="{% url 'contests:standings' contest.id %}">{{ contest }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endif %}

{% if public_contests %}
    <div class="col-sm-4">
        <h2>{% bootstrap_icon 'stats' %} <span class="ir-icon-label">{% trans 'Contest results' %}</span></h2>
        <ul>
        {% for contest in public_contests %}
            <li>
                <a href="{% url 'contests:standings' contest.id %}">{{ contest }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

{% if news %}
    <div class="col-sm-4">
        <h2>{% bootstrap_icon 'bullhorn' %} <span class="ir-icon-label">{% trans 'News' %}</span></h2>
        <ul class="list-unstyled">
        {% for obj in news %}
            <li>
                <strong>{{ obj.when|date:"DATE_FORMAT" }}</strong>
                <p><a href="{% url 'news:show' obj.id %}">{{ obj.subject }}</a></p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

</div>

{% endblock %}
