{% load bootstrap3 %}

{% if subfolders %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            {% for item in subfolders %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <small>
                        {% url url_pattern item.folder_id_or_root as the_url %}
                    <a href="{{ the_url }}">{% bootstrap_icon 'folder-close' %}</a> <span class="ir-icon-label"><a href="{{ the_url }}">{{ item.name }}</a></span>
                    </small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
