{% load bootstrap3 %}
{% load i18n %}

<div class="ir-twopanel" id="{{ uid }}">
    <div class="row">
        <div class="col-sm-6">
            {{ folder_form.folders }}
        </div>
        <div class="col-sm-1 text-center">
            <div class="ir-twopanel-loading" style="display: none;">
                <p title="{% trans 'Loading' %}...">{% bootstrap_icon 'refresh' %}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <select multiple class="form-control ir-twopanel-tab ir-twopanel-src">
            </select>
        </div>
        <div class="col-sm-1 text-center">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-default ir-twopanel-add" title="{% trans 'Add' %}">{% bootstrap_icon 'triangle-right' %}</button>
                <button type="button" class="btn btn-default ir-twopanel-add-all" title="{% trans 'Add all' %}">{% bootstrap_icon 'forward' %}</button>
                <button type="button" class="btn btn-default ir-twopanel-remove" title="{% trans 'Remove' %}">{% bootstrap_icon 'triangle-left' %}</button>
                <button type="button" class="btn btn-default ir-twopanel-remove-all" title="{% trans 'Remove all' %}">{% bootstrap_icon 'backward' %}</button>
            </div>
        </div>
        <div class="col-sm-5">
            <select multiple class="form-control ir-twopanel-tab ir-twopanel-dst" name="{{ name }}">
                {% for option_value, option_label in selected %}
                    <option value="{{ option_value }}">{{ option_label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        irSetUpTwoPanel("{{ uid }}", function(folderId) {
            return Urls["{{ url_pattern }}"]({% for param in url_params %}"{{ param }}", {% endfor %}folderId);
        });
    });
</script>
