{% extends "base.html" %}

{% load i18n %}
{% load irunner_pagination %}
{% load irunner_problems %}
{% load irunner_solutions %}
{% load irunner_users %}

{% block content %}
    <h1>{% block title %}{% trans 'Challenges' %}{% endblock %}</h1>

    {% irunner_pagination pagination_context %}

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans 'Author' %}</th>
                <th>{% trans 'Created' context 'challenge' %}</th>
                <th>{% trans 'Problem' %}</th>
                <th>{% trans 'Number of solutions' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for challenge in object_list %}
                <tr>
                    <td><a href="{% url 'problems:challenge' challenge.problem_id challenge.id %}">{{ challenge.id }}</a></td>
                    <td>{% irunner_users_show challenge.author %}</td>
                    <td>{{ challenge.creation_time }}</td>
                    <td>{% irunner_problems_difficulty challenge.problem.difficulty %} <a href="{% url 'problems:statement' challenge.problem_id %}">{{ challenge.problem.numbered_full_name }}</a></td>
                    <td>{{ challenge.num_solutions }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
