{% load i18n %}

<div class="row" id="{{ uid }}">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                </div>
                <p class="text-center">
                    <a href="{% url 'solutions:main' solution_id %}">
                        <span>{% trans 'Loading...' %}</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script>
    function poll_{{ uid }}() {
        $.getJSON("{% url 'solutions:status_json' solution_id %}", function(data) {
            var panel = $("#{{ uid }}");
            panel.find("span:first").text(data["text"]);
            if (data["final"] === true) {
                var pbar = panel.find(".progress-bar");
                pbar.removeClass("active").removeClass("progress-bar-striped");
                if (typeof data["color"] !== "undefined") {
                    pbar.removeClass("progress-bar-info");
                    if (data["color"] === "red") {
                        pbar.addClass("progress-bar-danger");
                    }
                    if (data["color"] === "green") {
                        pbar.addClass("progress-bar-success");
                    }
                    if (data["color"] === "yellow") {
                        pbar.addClass("progress-bar-warning");
                    }
                }
            } else {
                setTimeout(poll_{{ uid }}, 1000);
            }
        }).fail(function() {
            $("#{{ uid }}").find("span:first").text("{% trans 'Error while getting data from server.' %}");
            setTimeout(poll_{{ uid }}, 10000);
        });
    }

    $(document).ready(function() {
        poll_{{ uid }}();
    });
</script>
