{% load bootstrap3 %}
{% load i18n %}
{% load irunner_solutions %}

{% if test_results %}

<table class="table ir-table-more-condensed" id="{{ uid }}">
    <thead>
        <tr>
            {# always 8 columns #}
            <th class="ir-col-no">{% trans '#' %}</th>
            <th class="ir-col-arrow"></th>
            <th class="ir-col-outcome">{% trans 'Outcome' %}</th>
            {% if not solution_permissions.exit_codes %}
                {# print verbose outcome instead of exit code #}
                <th></th>
            {% endif %}
            <th class="ir-col-score">{% trans 'Score' %}</th>
            <th class="ir-col-limit">{% trans 'Time' %}</th>
            <th class="ir-col-limit">{% trans 'Memory' %}</th>
            {% if solution_permissions.exit_codes %}
                <th class="ir-col-code">{% trans 'Exit Code' %}</th>
            {% endif %}
            <th class="ir-col-msg">
                {% if solution_permissions.checker_messages %}
                    {% trans 'Checker message' %}
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for test, toggleable in test_results %}
        <tr{% if toggleable %} class="ir-toggle-row"{% endif %} data-testid="{{ test.id }}">
            <td class="ir-col-no">{% if test.is_sample %}<span class="ir-sample-test-mark" title="{% trans 'Sample test' %}">{% bootstrap_icon 'certificate' %}</span>&nbsp;{% endif %}{{ forloop.counter }}</td>

            {# arrow > is shown only when the row can be expanded #}
            <td class="ir-col-arrow">{% if toggleable %}<span class="ir-arrow">&#x25BA;</span>{% endif %}</td>

            <td class="ir-col-outcome">{% irunner_solutions_outcomebox test.outcome tooltip=solution_permissions.exit_codes %}</td>
            {% if not solution_permissions.exit_codes %}
                <td>{{ test.get_outcome_display }}</td>
            {% endif %}
            <td class="ir-col-score">{{ test.score }} {% trans 'of' %} {{ test.max_score }}</td>
            <td class="ir-col-limit">{% irunner_solutions_timelimitbox test.time_used test.time_limit %}</td>
            <td class="ir-col-limit">{% irunner_solutions_memorylimitbox test.memory_used test.memory_limit %}</td>
            {% if solution_permissions.exit_codes %}
                <td class="ir-col-code">{{ test.exit_code }}</td>
            {% endif %}
            <td class="ir-col-msg">
                {% if solution_permissions.checker_messages %}
                    <div class="ir-checker-msg">{{ test.checker_message }}</div>
                {% endif %}
            </td>
        </tr>
        <tr style="display: none">
            <td class="ir-col-no"></td>
            <td class="ir-col-arrow"></td>
            <td colspan="6">
                <div class="ir-ajax-data">
                    <div class="ir-ajax-message">
                    </div>
                </div>

                <div class="pull-right">
                    <button class="btn btn-link btn-sm ir-btn-hide" type="button">{% trans 'Hide' %}</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if any_toggleable %}
<!-- For showing test case images -->
<div class="modal fade" id="imagemodal_{{ uid }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans 'Image' %}</h4>
            </div>
            <div class="modal-body text-center">
                <img src="" alt="image" id="imagepreview_{{ uid }}" class="ir-fit-image">
            </div>
        </div>
    </div>
</div>

<script>
function showHideTest_{{ uid }}(row) {
    var testcaseresultId = row.data("testid");
    {% if url_pattern == 'solutions:test_case_result' and first_placeholder %}
        {# hack for IE8 #}
        var url = "/solutions/" + "{{ first_placeholder }}" + "/tests/" + testcaseresultId + "/";
    {% else %}
        {% if first_placeholder %}
            var url = Urls["{{ url_pattern }}"]("{{ first_placeholder }}", testcaseresultId);
        {% else %}
            var url = Urls["{{ url_pattern }}"](testcaseresultId);
        {% endif %}
    {% endif %}

    if (!url) {
        return;
    }
    var detailsRow = row.next("tr");
    var arrowSpan = row.find(".ir-arrow");
    if (detailsRow.css("display") === "none") {
        if (!detailsRow.data("fetched")) {
            var dataDiv = detailsRow.find(".ir-ajax-data");
            var messageDiv = detailsRow.find(".ir-ajax-message");
            messageDiv.text("{% trans 'Loading...' %}");
            $.get(url, function(data) {
                dataDiv.html(data);
                detailsRow.data("fetched", true);
            }).fail(function() {
                messageDiv.text("{% trans 'Error while getting data from server.' %}");
            });
        }
        detailsRow.show();
        arrowSpan.html("&#x25BC;");
    } else {
        detailsRow.hide();
        arrowSpan.html("&#x25BA;");
    }
}
$(document).ready(function() {
    var table = $("#{{ uid }}");
    table.find(".ir-toggle-row").click(function() {
        showHideTest_{{ uid }}($(this));
    });
    table.find(".ir-btn-hide").click(function() {
        var row = $(this).parents("tr").first().prev();
        showHideTest_{{ uid }}(row);
    });
    table.on("click", ".ir-full-image-link", function(e) {
        e.preventDefault();
        var url = $(this).find("img").attr("src");
        $("#imagepreview_{{ uid }}").attr("src", url);
        $("#imagemodal_{{ uid }}").modal("show");
    });
});
</script>
{% endif %}

{% else %}{# if not test_results #}
<div class="ir-absence">
    {% trans 'No test results' %}
</div>
{% endif %}
