{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_problems %}
{% load irunner_proglangs %}
{% load irunner_progress %}
{% load irunner_solutions %}
{% load irunner_users %}

{% block content %}
    <h2>{% block title %}{% trans 'Rejudge' %} {{ rejudge.id }}{% endblock %}</h2>

    <dl class="dl-horizontal">
        <dt>{% trans 'Created' %}</dt>
        <dd>{{ rejudge.creation_time }}</dd>

        <dt>{% trans 'Author' %}</dt>
        <dd>{% irunner_users_show rejudge.author %}</dd>

        {% if problem %}
            <dt>{% trans 'Problem' %}</dt>
            <dd>{% irunner_problems_difficulty problem.difficulty %} <a href="{% url 'problems:statement' problem.id %}">{{ problem.numbered_full_name }}</a></dd>
        {% endif %}

        <dt>{% trans 'State' %}</dt>
        <dd>{% irunner_solutions_rejudgestate rejudge.committed %}</dd>

        <dt>{% trans 'Result' %}</dt>
        <dd>{% irunner_progress url=progress_url value_good=stats.accepted value_bad=stats.rejected total=stats.total %}</dd>
    </dl>

    {% if object_list %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans '#' %}</th>
                <th>ID</th>
                <th>{% trans 'Submission time' %}</th>
                <th>{% trans 'Solution' %}</th>
                <th>{% trans 'Author' %}</th>
                <th>{% bootstrap_icon 'triangle-left' %} {% trans 'Before' %}</th>
                <th>{% bootstrap_icon 'triangle-right' %} {% trans 'After' %}</th>
                <th class="active">{% bootstrap_icon 'pause' %} {% trans 'Current' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for info in object_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="{% url 'solutions:main' info.solution.id %}">{{ info.solution.id }}</a>
                </td>
                <td>
                    {{ info.solution.reception_time }}
                </td>
                <td>
                    {% url 'solutions:source' info.solution.id as source_url %}
                    {% irunner_proglangs_compilerbox info.solution.compiler tooltip=True %}
                    <small><tt><a href="{{ source_url }}">{{ info.solution.source_code.filename }}</a></tt></small>
                </td>
                <td>
                    {% irunner_users_show info.solution.author %}
                </td>
                <td>
                    {% if info.before %}
                        <a href="{% url 'solutions:show_judgement' info.before.id %}">
                            {% irunner_solutions_judgementbox info.before tooltip=True %}{% irunner_solutions_scorebox info.before %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if info.after %}
                        <a href="{% url 'solutions:show_judgement' info.after.id %}">
                            {% irunner_solutions_judgementbox info.after tooltip=True %}{% irunner_solutions_scorebox info.after %}
                        </a>
                    {% endif %}
                </td>
                <td class="active">
                    {% if info.current %}
                        <a href="{% url 'solutions:show_judgement' info.current.id %}">
                            {% irunner_solutions_judgementbox info.current tooltip=True %}{% irunner_solutions_scorebox info.current %}
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="ir-absence">{% trans 'No solutions' %}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% buttons %}
            {% if rejudge.committed == None %}
                <button type="submit" name="commit" class="btn btn-primary">{% bootstrap_icon 'ok' %} <span class="ir-icon-label">{% trans 'Commit' %}</span></button>
                <button type="submit" name="rollback" class="btn btn-default">{% bootstrap_icon 'remove' %} <span class="ir-icon-label">{% trans 'Rollback' %}</span></button>
            {% endif %}
            <button type="submit" name="clone" class="btn btn-default">{% bootstrap_icon 'duplicate' %} <span class="ir-icon-label">{% trans 'Clone' %}</span></button>
        {% endbuttons %}
    </form>

    <p>
        <a href="{% url 'solutions:rejudge_list' %}">{% trans 'To the list of rejudges' %}</a>
    </p>
{% endblock %}
