{% extends "base.html" %}

{% load i18n %}
{% load irunner_pagination %}
{% load irunner_solutions %}
{% load irunner_users %}
{% load irunner_yesno %}

{% block content %}
<h1>{% block title %}{% trans 'Rejudges' %}{% endblock %}</h1>

{% irunner_pagination pagination_context %}

<table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Created' context 'rejudge' %}</th>
            <th>{% trans 'Number of solutions' %}</th>
            <th>{% trans 'State' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for rejudge in object_list %}
            <tr>
                <td><a href="{% url 'solutions:rejudge' rejudge.id %}">{{ rejudge.id }}</a></td>
                <td>{% irunner_users_show rejudge.author %}</td>
                <td>{{ rejudge.creation_time }}</td>
                <td>{{ rejudge.num_judgements }}</td>
                <td>
                    {% irunner_yesno rejudge.committed %}
                    {% if rejudge.committed == True %}
                        <span class="text-success">{% trans 'committed' %}</span>
                    {% elif rejudge.committed == False %}
                        <span class="text-danger">{% trans 'rolled back' %}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
