{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_pagination %}
{% load irunner_plagiarism %}
{% load irunner_problems %}
{% load irunner_proglangs %}
{% load irunner_solutions %}
{% load irunner_users %}
{% load widget_tweaks %}

{% block title %}{% trans 'Solutions' %}{% endblock %}

{% block content %}
    <form method="get" class="form-inline">
        <div class="ir-solution-filter">
            <div class="pull-right">
                {% render_field form.problem class='form-control' placeholder=form.problem.label %}
                {% render_field form.user class='form-control' placeholder=form.user.label %}
                {% render_field form.compiler class='form-control' %}
                {% render_field form.state class='form-control' %}
                <button type="submit" class="btn btn-default">
                    {% trans 'Apply' %}
                </button>
            </div>
        </div>
    </form>

    {% irunner_pagination pagination_context %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectall"></th>
                <th>{% trans 'Problem' %}</th>
                <th>{% trans 'Author' %}</th>
                <th>{% trans 'Time' %}</th>
                <th>{% trans 'File' %}</th>
                <th>{% trans 'Status' %}</th>
                <th>{% trans 'Plagiarism' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for solution in object_list %}
            <tr>
                <td><input type="checkbox" class="ir-checkbox" name="{{ solution.id }}"></td>
                <td>{% irunner_problems_difficulty solution.problem.difficulty %} <a href="{% url 'problems:statement' solution.problem_id %}">{{ solution.problem.numbered_full_name }}</a></td>
                <td class="text-nowrap">{% irunner_users_card solution.author %}</td>
                <td class="text-nowrap">{{ solution.reception_time|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td class="text-nowrap">
                    {% irunner_proglangs_compilerbox solution.compiler %}
                    <span class="ir-monospace small"><a href="{% url 'solutions:source' solution.id %}">{{ solution.source_code.filename|truncatechars:14 }}</a></span>
                    <span class="ir-file-size">({{ solution.source_code.size|filesizeformat }})</span>
                </td>
                <td class="text-nowrap">
                    <a href="{% url 'solutions:main' solution.id %}">{% irunner_solutions_judgementbox solution.best_judgement tooltip=True %}</a>
                    <a href="{% url 'solutions:main' solution.id %}">{% irunner_solutions_scorebox solution.best_judgement %}</a>
                </td>
                <td class="text-nowrap">
                    {% irunner_plagiarism_box solution.aggregatedresult solution.id %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="form-group">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle ir-checkbox-driven" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                {% bootstrap_icon 'check' %} <span class="ir-icon-label">{% trans 'Actions' %}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" id="ir_btn_rejudge">{% bootstrap_icon 'repeat' %} <span class="ir-icon-label">{% trans 'Rejudge' context 'verb' %}</span></a></li>
                <li><a href="#" id="ir_btn_delete">{% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span></a></li>
            </ul>
        </div>
    </div>

    <script>
    $(document).ready(function () {
        irSetUpSelectAll();
        $("#ir_btn_rejudge").click(function(e) {
            e.preventDefault();
            irPerformActionOnSelected("{% url 'solutions:create_rejudge' %}", null);
        });
        $("#ir_btn_delete").click(function(e) {
            e.preventDefault();
            irPerformActionOnSelected("{% url 'solutions:delete' %}", "{{ request.path }}");
        });
    });
    </script>
{% endblock %}
