{% extends "solutions/solution.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_pagination %}
{% load irunner_plagiarism %}
{% load irunner_solutions %}
{% load irunner_users %}

{% block subtitle %}{% trans 'Plagiarism' %}{% endblock %}

{% block main %}
{% if object_list %}
    {% irunner_pagination pagination_context %}
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>{% trans '#' %}</th>
                <th>{% trans 'Time' %}</th>
                <th>{% trans 'Author' %}</th>
                <th>{% trans 'Algo' %}</th>
                <th>{% trans 'Similarity' %}</th>
                <th>{% trans 'Verdict' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for judgement in object_list %}
                <tr>
                    <td><a href="{% url 'solutions:main' judgement.solution_to_compare.id %}">{{ judgement.solution_to_compare.id }}</a></td>
                    <td>{{ judgement.solution_to_compare.reception_time }}</td>
                    <td>{% irunner_users_show judgement.solution_to_compare.author %}</td>
                    <td><span class="badge">{{ judgement.algorithm_id }}</span></td>
                    <td><span style="color: {% irunner_plagiarism_csscolor judgement.similarity %};">{{ judgement.similarity }}</span></td>
                    <td><span class="ir-monospace">{{ judgement.verdict }}</span></td>
                    <td><a href="{% url 'solutions:compare' %}?first={{ judgement.solution_to_compare_id }}&amp;second={{ judgement.solution_to_judge_id }}">{% trans 'Compare' %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="ir-absence">{% trans 'No data' %}</div>
{% endif %}
{% endblock %}
