{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_next %}
{% load irunner_users %}

{% block title %}{{ user.get_full_name }} ({{ user.username }}){% endblock %}

{% block content %}
    <h1>{% irunner_users_show user %} <small>{{ user.username }}</small></h1>
    <div class="list-group">
        <a href="{% url 'profile_edit' %}" class="list-group-item">{% trans 'Edit profile' %}</a>
        <a href="{% url 'password_change' %}" class="list-group-item">{% trans 'Change password' %}</a>
        <a href="{% url 'language' %}?next={% irunner_next %}" class="list-group-item">{% trans 'Change interface language' %}</a>
    </div>
{% endblock %}
